@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat&family=Roboto+Mono&display=swap');


h1 h2 {
    font-family: 'Anonymous Pro', monospace;
}
body{ 
     margin: 0 0;
     background:linear-gradient(  rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ),   
      url("AdobeStock_319681541.jpeg");
     background-attachment: fixed; 
     background-size: cover;
     font-family: 'Roboto Mono', monospace;
}


 /*nav bar */
nav {
   
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Anonymous Pro', monospace;
}

.navbar a 
{
    display: inline;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 25px;
}

.navbar a:hover {
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255);
}
/* nav bar end */

/* home */ 

.home{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
 font-family: 'Anonymous Pro', monospace;
    color: #fff;  
    
    }

    .avatar-container {
     display: flex;   
     justify-content: center;
     align-items: center;
     margin: 0, auto;
    }
    

    #james-avatar {
        position: relative;
        height: 158px;
        width: 150x;
        border-radius: 50%;
        border: 5px solid rgb(177, 177, 177);
        border: 5px solid rgba(179, 178, 178, 0.2);
    
       }

    .home h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 0;
    }

    

    .home-subititle {
        text-align: center;
        font-size: 45px;
        font-style: italic;
        margin-top: 0; 
    }

.social ul{
    padding: 0;
}

 .social li {
    display: inline;
    color: white;
    text-decoration: none
}

.social a {
    color: white;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
   
}

.social a:hover { 
        opacity: .75;
}

.aboutme {
   
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-;
    }

    .intro-text {
        font-style:normal;

        
    }


    
/* home end */

/* Contact Page */
.contact-page {
    margin: 0 0;
     background:linear-gradient(  rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ),   
      url("AdobeStock_319684919.jpeg");
     background-attachment: fixed; 
     background-size: cover;
     width: 100vw;
     height: 100vh;
     font-family: 'Roboto Mono', monospace;
     
}
.contact-page h1 {
    color: white;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    margin-bottom:5%;
}


    


main {
    position: relative;
    display: flex;
    flex-direction: column;
    max-widht: 100%;
    width: 30em;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("vhs-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh; 
    
}
  
textarea {
    resize: none;
}


