@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat&family=Roboto+Mono&display=swap');



body{ 
     margin: 0 0;
     background:linear-gradient(  rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ),   
      url("AdobeStock_319681541.jpeg");
     background-attachment: fixed; 
     background-size: cover;
     font-family: 'Roboto Mono', monospace;
}


 /*nav bar */
nav {
    background-color: rgb(44, 48, 57);
    background-color: rgba(44, 48, 57, 0.3);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.navbar a 
{
    display: inline;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
   
    
    
}

.navbar a:hover {
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255);
}
/* nav bar end */

/* home */ 

.home{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 font-family: 'Anonymous Pro', monospace;
    color: #fff;
    }

    .flex-container {
     display: flex;   
     direction: column;   
     justify-content: center;
     align-items: center;
     margin: 0, auto;
    }

    #james-avatar {
        position: relative;
        height: 158px;
        width: 150x;
        border-radius: 50%;
        border: 5px solid rgb(177, 177, 177);
        border: 5px solid rgba(179, 178, 178, 0.2);
       }

    .home h1{
        text-align: center;
        font-size: 50px;
        margin-bottom: 0;

    }

    .home-hr {
        
        background:
        border-radius: 6px;
    }

    .home h2 {
        text-align: center;
        font-size: 45px;
        font-style: italic;
        margin-top: 0;
        
    }

.social ul{
    padding: 0;
}

 .social li {
    
    display: inline;
    color: white;
    text-decoration: none
    
}

.social a {
    color: white;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    

    
   
}

.social a:hover { 
        opacity: .75;
}

/* About me */
.aboutme {
    background-color: #26363d;
    
    color: white;
}
